* {
    margin: 0px;
    padding: 0px;
}

/* header style */

.banner {
    background-image: url("../images/banner/banner1.png");
    position: relative;
    width: 1600px;
    height: 808px;
    
}
.overlay{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: flex-end;
}
.header-title{  
    margin-top: 230px;
    flex-direction: column; 
    text-align: right;  
}
.header-description {
    text-align: right;
    margin-top: 25px;
}
.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    width: 160px;
    height: 64px;
    margin-top: 35px;
    border: none;
    color: #fff;

}

